---
title: Gymnasium Courses
permalink: /
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <title>Gym Courses | Navigation Prototype</title>
  <meta name="author" content="Aquent Gymnasium (Justin Gagne, Andrew Miller)">
</head>

{% assign base_path = "https://courses.gymna.si" %}
{% assign courses_catalog = site.data.courses | sort %}
{% assign take5_catalog = site.data.take5 | sort %}

<body>

<div class="topic" id="design">
<div class="topic" id="html">
<div class="topic" id="css">
<div class="topic" id="figma">
<div class="topic" id="sketch">
<div class="topic" id="adobe-xd">
<div class="topic" id="invision-studio">
<div class="topic" id="virtual-reality">
<div class="topic" id="accessibility">
<div class="topic" id="design-systems">
<div class="topic" id="development">
<div class="topic" id="javascript">
<div class="topic" id="php">
<div class="topic" id="github">
<div class="topic" id="ux">
<div class="topic" id="prototyping">
<div class="topic" id="career-skills">
<div class="topic" id="productivity">
<div class="topic" id="view-all">
<div class="format" id="full">
<div class="format" id="short">
<div class="format" id="tutorial">

<main id="courses">

<header>
  <div>
    <h1>Courses</h1>
    <nav>
      <div>
        <h2>View by Topic</h2>
        <ul>
          <li>
            <a href="#design"><b>Design</b></a>
          </li>
          <li>
            <a href="#development"><b>Development</b></a>
          </li>
          <li>
            <a href="#ux"><b>UX</b></a>
          </li>
          <li>
            <a href="#prototyping"><b>Prototyping</b></a>
          </li>
          <li>
            <a href="#accessibility"><b>Accessibility</b></a>
          </li>
          <li>
            <a href="#career-skills"><b>Career Skills</b></a>
          </li>
          <li><a href="#view-all"><b>All Topics</b></a></li>
        </ul>
      </div>
      <div>
        <h2>View by Format</h2>
        <ul>
          <li>
            <a href="#full"><b>Full Course</b></a>
            <p>Earn a certificate in 1 hour or more.</p>
          </li>
          <li>
            <a href="#short"><b>Short Course</b></a>
            <p>Earn a badge in 1 hour or less.</p>
          </li>
          <li>
            <a href="#tutorial"><b>Tutorial</b></a>
            <p>Learn a new skill in 5 minutes or less.</p>
          </li>
          <li><a href="#view-all"><b>All Formats</b></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<ul role="list">
<!-- FULL COURSES -->
{%- for course_hash in courses_catalog -%}
    {%- assign item = course_hash[1] -%}
    {%- if item.course_type == "full" -%}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="full {{ tag_class }}">
          <header>
            <h2><a href="{{ item.url | prepend: base_path }}">{{ item.title }}</a></h2>
            <details class="info">
              <summary><b>Description</b></summary>
              <div class="info-details">
                <p>{{ item.short_description }}</p>
                <div>
                  <dl>
                    <dt><b>Skills Covered</b></dt>
                    {%- for skill in item.skills -%}
                    <dd>{{ skill.label }}</dd>
                    {%- endfor -%}
                  </dl>
                  <dl>
                    <dt><b>This Course Is For</b></dt>
                    {%- for audience in item.audience -%}
                    <dd>{{ audience.label }}</dd>
                    {%- endfor -%}
                  </dl>
                </div>
                <a class="button" href="{{ item.url | prepend: base_path }}"><b>Learn More</b></a>
                <a class="button" href="{{ item.url | prepend: base_path | replace: 'about', 'info' }}"><b>Enroll Now</b></a>
              </div>
            </details>
            <a class="button" href="{{ item.url | prepend: base_path | replace: 'about', 'info' }}"><b>Enroll Now</b></a>
          </header>
          <aside>
            <p class="format">{{ item.course_type }}</p>
            <ul class="topics">
              {%- for tag in item.tags -%}
              <li><a href="#{{ tag | downcase }}">{{ tag | replace: '-', ' ' }}</a></li>
              {%- endfor -%}
            </ul>
          </aside>
        </li>
    {%- endif -%}
{%- endfor -%}

<!-- GYM SHORTS -->
{%- for course_hash in courses_catalog -%}
    {%- assign item = course_hash[1] -%}
    {% if item.course_type == "short" %}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase  -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="short {{ tag_class }}">
          <header>
            <h2><a href="{{ item.url | prepend: base_path }}">{{ item.title }}</a></h2>
            <details class="info">
              <summary><b>Description</b></summary>
              <div class="info-details">
                <p>{{ item.short_description }}</p>
                <div>
                  <dl>
                    <dt><b>Skills Covered</b></dt>
                    {%- for skill in item.skills -%}
                    <dd>{{ skill.label }}</dd>
                    {%- endfor -%}
                  </dl>
                  <dl>
                    <dt><b>This Course Is For</b></dt>
                    {%- for audience in item.audience -%}
                    <dd>{{ audience.label }}</dd>
                    {%- endfor -%}
                  </dl>
                </div>
                <a class="button" href="{{ item.url | prepend: base_path }}"><b>Learn More</b></a>
                <a class="button" href="{{ item.url | prepend: base_path | replace: 'about', 'info' }}"><b>Enroll Now</b></a>
              </div>
            </details>
            <a class="button" href="{{ item.url | prepend: base_path | replace: 'about', 'info' }}"><b>Enroll Now</b></a>
          </header>
          <aside>
            <p class="format">{{ item.course_type }}</p>
            <ul class="topics">
              {%- for tag in item.tags -%}
              <li><a href="#{{ tag | downcase }}">{{ tag | replace: '-', ' ' }}</a></li>
              {%- endfor -%}
            </ul>
          </aside>
        </li>
{%- endif -%}
{%- endfor -%}

<!-- TAKE 5 -->
{%- for take5_hash in take5_catalog -%}
    {%- assign item = take5_hash[1] -%}
    {%- assign format = "Tutorial" -%}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="tutorial {{ tag_class }}">
          <header>
            <h2><a href="{{ base_path | append: '/courses/take5/' }}{{ item.title | slugify }}">{{ item.title }}</a></h2>
            <details class="info">
              <summary><b>Description</b></summary>
              <div class="info-details">
                <p>{{ item.short_description }}</p>
              </div>
            </details>
            <a class="button" href="{{ item.url | prepend: base_path }}"><b>Watch Now</b></a>
          </header>
          <aside>
            <p class="format">{{ item.course_type | replace: 'take5', 'tutorial' }}</p>
            <ul class="topics">
              {%- for tag in item.tags -%}
              <li><a href="#{{ tag | downcase }}">{{ tag | replace: '-', ' ' }}</a></li>
              {%- endfor -%}
            </ul>
          </aside>
        </li>

{%- endfor -%}

</ul>

</main>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
