---
title: Gymnasium Courses
permalink: /
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <title>Gym Courses | Navigation Prototype</title>
  <meta name="author" content="Aquent Gymnasium (Justin Gagne, Andrew Miller)">
</head>

{% assign courses_catalog = site.data.courses | sort %}
{% assign take5_catalog = site.data.take5 | sort %}


<body>

<div class="topic" id="design">
<div class="topic" id="html">
<div class="topic" id="css">
<div class="topic" id="figma">
<div class="topic" id="sketch">
<div class="topic" id="adobe-xd">
<div class="topic" id="invision-studio">
<div class="topic" id="virtual-reality">
<div class="topic" id="accessibility">
<div class="topic" id="design-systems">
<div class="topic" id="development">
<div class="topic" id="js">
<div class="topic" id="php">
<div class="topic" id="github">
<div class="topic" id="ux">
<div class="topic" id="prototyping">
<div class="topic" id="career">
<div class="topic" id="productivity">
<div class="topic" id="view-all">
<div class="type" id="full">
<div class="type" id="short">
<div class="type" id="tutorial">

<h1>Courses</h1>

<nav>
  <div>
    <h2>View by Topic</h2>
    <ul>
      <li><a href="#design"><b>Design</b></a></li>
      <li><a href="#development"><b>Development</b></a></li>
      <li><a href="#ux"><b>UX</b></a></li>
      <li><a href="#career"><b>Career</b></a></li>
      <li><a href="#view-all"><b>All Topics</b></a></li>
    </ul>
  </div>
  <div>
    <h2>View by Type</h2>
    <ul>
      <li>
        <a href="#full"><b>Full Course</b></a>
        <p>Earn a certificate in 1 hour or more.</p>
      </li>
      <li>
        <a href="#short"><b>Short Course</b></a>
        <p>Earn a badge in 1 hour or less.</p>
      </li>
      <li>
        <a href="#tutorial"><b>Quick Tutorial</b></a>
        <p>Learn a new skill in 5 minutes or less.</p>
      </li>
      <li><a href="#view-all"><b>All Types</b></a></li>
    </ul>
  </div>
</nav>

<ul role="list">
<!-- FULL COURSES -->
{%- for course_hash in courses_catalog -%}
    {%- assign item = course_hash[1] -%}
    {%- if item.course_type == "full" -%}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="full {{ tag_class }}">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <ul class="topics">
            {% for tag in item.tags %}
            <li><a href="#{{ tag | downcase }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </li>
    {%- endif -%}
{%- endfor -%}

<!-- GYM SHORTS -->
{%- for course_hash in courses_catalog -%}
    {%- assign item = course_hash[1] -%}
    {% if item.course_type == "short" %}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase  -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="short {{ tag_class }}">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <ul class="topics">
            {% for tag in item.tags %}
            <li><a href="#{{ tag | downcase }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </li>
{%- endif -%}
{%- endfor -%}

<!-- TAKE 5 -->
{%- for take5_hash in take5_catalog -%}
    {%- assign item = take5_hash[1] -%}
    {%- assign format = "Tutorial" -%}
        <!-- {{ item.course_ID }} -->
        {%- assign tag_class = "" -%}
        {% for tag in item.tags %}
        {%- assign tag_class = tag_class | append: tag | append: " " | downcase -%}
        {% endfor %}
        {%- assign trim_last = tag_class | size | minus: 1  -%}
        {%- assign tag_class = tag_class | slice: 0, trim_last -%}
        <li class="tutorial {{ tag_class }}">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <ul class="topics">
            {% for tag in item.tags %}
            <li><a href="#{{ tag | downcase }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </li>

{%- endfor -%}


</ul>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</body>
</html>
